<!DOCTYPE html>
<html>
  <head>
    <title>TwitterExam</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container">
   <header class="header">
    <a href="#" class="header-logo clearfix">TwitterClone</a>
    <a href="#" class="header-list clearfix">ログイン</a>

   </header>
    <%= yield %>
   <footer class="footer">
    <p>Copyright © 2007-2012  Matsuo inc. All Rights Reserved.</p>
   </footer>
  </div>
  </body>
</html>
